.checkList {
  width: 100%;
  max-width: 750px;
  height: 100%;
  padding: 20px 0;
  margin: auto;
  /* vertical-align: middle; */
  /* display: flex; */
}
.button-send {
	margin-top: 25px;
	color: #fff !important;
    background: #2980B9 !important;
}
