.info{
  font-size: 18px;
  padding-bottom: 65px;
}

.info__line > div:nth-child(2) > p {
  color: #2980B9;
}

@media screen and (max-device-width:939px){
  .info{
    font-size: 20px;
    padding-bottom: 10px;
  } 

  .info__line{
    padding: 5px 0;
    border-bottom: 1px solid grey;
  }
  .info__line:last-child{
    margin-bottom: 10px;
  }
}

@media screen and (min-device-width:940px){
  .info{
  } 
  .info__line{
    padding: 5px 0;
  }
}
