.commentsList{
  padding-top: 10px;
}

.commentsList li{
  box-sizing: content-box;
  list-style-type: none;
  color: rgba(11, 31, 53, .95);
  padding: 15px;
  margin: 10px 0;
  border-radius: 15px 15px 15px 0px;
  border: 1px solid grey;
}

.commentsList > li:nth-child(2n){
  text-align: right;
  background-color: rgb(240, 248, 242);
  border: none;
  border-radius: 15px 15px 0px 15px;
}

.commentsList__button{
  font-size: 18px;
  color: #2980B9;
  font-weight: bold;
  border-bottom: 1px solid #2980B9;;
  cursor: pointer;
}